*{
    box-sizing: border-box;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 56px;
    font-weight:700;
    text-align:center;
    color:#E9ECEF;
    font-style:italic;
}
body{
    background-color: #1c3820;
    margin:0;
}
.side-bar{
    display:flex;
    overflow:hidden;
    flex-direction: column;
    width:280px;
    padding:1rem;
    flex-shrink:0;
    font-family:sans-serif;
    background-color: #E9ECEF;
    border-radius: 8px;
    border: 1px solid;
    transition: all 0.5s ease-in-out;
}
.side-header{
    display:flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom:1rem;
}
.calendar-container{
    max-width: 1200px;
    flex:1;
    margin: 2rem auto;
    font-family:sans-serif;
    border:1px solid;
    border-radius: 8px;
    padding: 1rem; 
    background-color: #E9ECEF;
}
.calendar-header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:1rem;
    background-color: #262d49;
    border-radius: 8px;
}
.nav-button{
    background: none;
    padding: 0.5rem 0.75rem;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.menu-hide{
    background: none;
    border: 1px solid;
    padding:0.5rem;
    border-radius: 8px;
    cursor:pointer;
}
.menu-hide:hover{
    background-color:  #8b8d8f;
}
.weekdays, .days{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    text-align:center;
}
.weekdays{
    font-weight:bold;
    margin-bottom: 0.5rem;
}
.day{
    padding: 0.75rem 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s;
    aspect-ratio: 1.5;
    border: 1px solid;
}
.selected{
    background-color: #646668;
}
.main-page{
    display:flex;
    gap: 25px;
    max-width:100%;
    align-items: flex-start;
    margin: 0 auto;
}
.day:hover{
    background-color: #8b8d8f;
    transform: translateY(2px);
}
.nav-button:hover{
    background-color:#131725;
    transform: translateY(2px);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
    border-radius: 6px; 
}
::-webkit-scrollbar-thumb {
    background: #E9ECEF; 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8b8d8f; 
}
.hidden{
    width:60px;
}
.bigger{
    width:100%;
}
.today{
    font-weight:bold;
}
.emptyDay{
    border: 1px solid;
    border-radius: 8px;
}
.hidden h2{
    display:none;
}
.hidden .taskButton{
    display:none;
}
.taskButton{
    border:none;
    border-radius: 8px;
}
.taskButton:hover{
    background-color: #646668;
    transform: translateY(2px);
}
.assignmentAddArea{
    display: inline-block;
}
.popup-menu {
  display: none; 
  font-size: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  min-width: 300px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1000;
}
.popup-menu.show {
  display:flex;
  flex-direction: column;
}
.x{
    width:20px;
    margin-left:92%;
    background-color: red;
    border-radius: 8px;
    border:none;
}
.x:hover{
    background-color: rgb(202, 0, 0);
    transform: translateY(2px);
}
.input-field{
    border-radius:8px;
}
.dueday{
    border-radius: 8px;
    width:95px;
}
.addTask{
    border-radius:8px;
    border:1px solid;
    text-decoration: underline;
}
.addTask:hover{
    background-color: #646668;
    transform: translateY(2px);
}