*{
    box-sizing: border-box;
}
.head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 56px;
    font-weight:700;
    text-align:center;
    color:#E9ECEF;
    font-style:italic;
}
body{
    background-color: #1c3820;
}
.side-bar{
    transition: transform 0.2;
    display:flex;
    flex-direction: column;
    width:220px;
    flex-shrink:0;
    font-family:sans-serif;
    background-color: #E9ECEF;
    border-radius: 8px;
    border: 1px solid;
    padding:20px;
    transition: transform 0.5s ease-in-out;
}
.side-header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:1rem;
}
.calendar-container{
    width:90%;
    flex:1;
    margin: 2rem auto;
    font-family:sans-serif;
    border:1px solid;
    border-radius: 8px;
    padding: 1rem; 
    background-color: #E9ECEF;
}
.calendar-header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:1rem;
}
.nav-button{
    background: none;
    border: 1px solid;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    cursor:pointer;
}
.menu-hide{
    background: none;
    border: 1px solid;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    cursor:pointer;
}
.menu-hide:hover{
    background-color:  #8b8d8f;
}
.weekdays, .days{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    text-align:center;
}
.weekdays{
    font-weight:bold;
    margin-bottom: 0.5rem;
}
.day{
    padding: 0.75rem 0;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s;
    aspect-ratio: 1.5;
    border: 1px solid;
}
.main-page{
    display:flex;
    gap: 25px;
    align-items: flex-start;
    max-width:1200px;
    margin: 0 auto;
    padding:5px;
}
.day:hover{
    background-color: #8b8d8f;
    transform: translateY(2px);
}
.nav-button:hover{
    background-color:#8b8d8f;
    transform: translateY(2px);
}
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
    border-radius: 6px; 
}
::-webkit-scrollbar-thumb {
    background: #E9ECEF; 
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8b8d8f; 
}
.hidden{
    transform: translateX(-230px);
    position:absolute;
}
.bigger{
    width:100%;
}
.today{
    font-weight:bold;
}